doctype html
html
  head
    meta(charset='utf-8')
     
    script(src='https://code.jquery.com/jquery-1.12.4.js', integrity='sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=', crossorigin='anonymous')

    script(src='/assets/js/jquery.min.js')
          
    script(src='/assets/bootstrap/js/bootstrap.min.js')
     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
          
    title addsong
          
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
          
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Cookie')
          
    link(rel='stylesheet', href=' /assets/fonts/font-awesome.min.css')
          
    link(rel='stylesheet', href=' /assets/css/styles.css')
          
    link(rel='stylesheet', href=' /assets/css/Pretty-Header.css')
          
    link(rel='stylesheet', href=' /assets/css/Pretty-Footer.css')
          
    link(rel='stylesheet', href=' /assets/css/Pretty-Registration-Form.css')
  body
    nav.navbar.navbar-default.custom-header
      .container-fluid
        .navbar-header
          before
          a.navbar-brand.navbar-link(href='#')
            p Companylogo
             
                            
          button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
                      
        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav.links
            li(role='presentation')
              a(href='#') Overview 
                                  
             li(role='presentation')
              a(href='#') Surveys 
                                  
            li(role='presentation')
              a(href='#')  Reports
                                  
            li(role='presentation')
              a.custom-navbar(href='#')
                  Roles
                span.badge new
                            
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(data-toggle='dropdown', aria-expanded='false', href='#')
                span.caret
                img.dropdown-image(src=' /assets/img/avatar.jpg')
                                        
              ul.dropdown-menu.dropdown-menu-right(role='menu')
                li(role='presentation')
                  a(href='#') Settings 
                                              
                li(role='presentation')
                  a(href='#') Payments 
                                              
                li.active(role='presentation')
                  a(href='#') Logout 
          
    .row.register-form
      .col-md-8.col-md-offset-2
        form.form-horizontal.custom-form(action="/newsong",method="post",enctype="multipar/form-data")
          h1 Add New
                            
          br
                            
          label  Name of the song
                            
          input.form-control(type='text',name="SongName",required)    
                            
          br
                            
          label Artist 
                            
          input.form-control(type='text',name="Artist",required)
                            
          br
                            
          label browse song
                            
          input(type='file',name="audiofile",required)
                            
          button.btn.btn-default.submit-button(type='submit') Add Song
          
    footer
      .row
        .col-md-4.col-sm-6.footer-navigation
          h3
            a(href='#')
                Company
              span logo 
                            
          p.links
            a(href='#') Home
            strong  &middot; 
            a(href='#') Blog
            strong  &middot; 
            a(href='#') Pricing
            strong  &middot; 
            a(href='#') About
            strong  &middot; 
            a(href='#') Faq
            strong  &middot; 
            a(href='#') Contact
                            
          p.company-name Company Name &copy; 2015 
                      
        .col-md-4.col-sm-6.footer-contacts
          div
            span.fa.fa-map-marker.footer-contacts-icon  
                                  
            p
              span.new-line-span 21 Revolution Street
                 Paris, France
                            
          div
            i.fa.fa-phone.footer-contacts-icon
                                  
            p.footer-center-info.email.text-left  +1 555 123456
                            
          div
            i.fa.fa-envelope.footer-contacts-icon
                                  
            p
              a(href='#', target='_blank') support@company.com
                      
        .clearfix.visible-sm-block
                      
        .col-md-4.footer-about
          h4 About the company
                            
          p
              Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                            
          .social-links.social-icons
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-linkedin
            a(href='#')
              i.fa.fa-github
          